{% extends 'dashboard/project_details.html' %}
{% load staticfiles %}

{% block body %}
<!-- Loading style style CSS
============================================ -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'>
<link rel="stylesheet" href="{% static 'css/loading_spinner.css' %}">
<link rel="stylesheet" href="{% static 'multi_form/style.css' %}">
<style>
    .logo_image_style {
        float: left;
        position: relative;
        z-index: 99;
    }

    .show {
        visibility: visible !important;
        opacity: 1 !important;
    }

    body {
        background-color: #0000 !important;
    }

    .select2-container {
        width: 100% !important;
    }

    .select2-container--default .select2-selection--single {
        height: 35px !important;
    }

    /*style for the switch toggle radio buttons*/
    .switch-field {
        display: flex;
        margin-bottom: 36px;
        overflow: hidden;
    }

    .switch-field input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }

    .switch-field label {
        background-color: #e4e4e4;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        line-height: 1;
        text-align: center;
        padding: 8px 16px;
        margin-right: -1px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
        transition: all 0.1s ease-in-out;
    }

    .switch-field label:hover {
        cursor: pointer;

    }

    .switch-field input:checked+label {
        background-color: #a5dc86;
        box-shadow: none;
    }

    .switch-field label:first-of-type {
        border-radius: 4px 0 0 4px;
    }

    .switch-field label:last-of-type {
        border-radius: 0 4px 4px 0;
    }

    /*end of style switch toggle button*/

    /*style for scroll */
    .scroller {
        overflow: auto;
        height: 90px !important;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 20px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #4a90e2;
        border-radius: 10px;
    }

    /*end of style for scroll*/



    .right_margin {
        margin-right: 2%;
    }

    .file_names {
        list-style-type: none;
        color: #4a90e2;
        margin-left: 3%;
        height: 80px;
        overflow-y: auto;
    }

    .file_names li:before {
        content: "\2714\0020";
    }

    label {
        text-transform: uppercase;
    }

    .info_icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
        margin-left: 6%;
        /* position: absolute;
        right: 13%;
        bottom: 8%;
        z-index: 999; */
    }
    .info_icon {
      width: 19px;
      margin-left: 1%;
      height: 19px;
      margin-top: -0.1%;
    }
</style>
<div class="loading-overlay">
  <span class="fas fa-spinner fa-3x fa-spin"></span>
  <span class="loading-message">Please wait..it's loading</span>
</div>



<!-- Modal -info -->
<div class="container">
  <div id="modal-3" class="modal" data-modal-effect="slide-top">
    <div class="modal-content">
      <h2 class="fs-title">Score Index</h2>
      <h3 class="fs-subtitle">Getting the most out of your data</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis consectetur ligula. Morbi dapibus
        tellus a ipsum sollicitudin aliquet. Phasellus id est lacus. Pellentesque a elementum velit, a tempor nulla.
        Mauris mauris lectus, tincidunt et purus rhoncus, eleifend convallis turpis. Nunc ullamcorper bibendum diam,
        vitae tempus dolor hendrerit iaculis. Phasellus tellus elit, feugiat vel mi et, euismod varius augue. Nulla a
        porttitor sapien. Donec vestibulum ac nisl sed bibendum. Praesent neque ipsum, commodo eget venenatis vel,
        tempus sit amet ante. Curabitur vel odio eget urna dapibus imperdiet sit amet eget felis. Vestibulum eros velit,
        posuere a metus eget, aliquam euismod purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
        per inceptos himenaeos.</p>
      <input type="button" name="next" class="next action-button modal-close" value="Got it!">
    </div>
  </div>
</div>

<form class="steps" accept-charset="UTF-8" enctype="multipart/form-data" novalidate="" id="project_form">
  {%csrf_token%}
  {{sheet_details_form.media}}
  <ul id="progressbar">
    <li class="active">Google Sheets Info</li>
    <li>NAN Filling</li>
    <!-- <li>Delimeter selection</li> -->
    <!-- <li>File Relationship</li>
    <li>NAN SELECTION</li> -->
  </ul>



  <!-- USER INFORMATION FIELD SET -->
  <fieldset>
    <!-- <h2 class="fs-title" </h2><img src="{% static 'images/info.png' %}" class="info_icon"
      title="Click the color palette to choose the color of the dashboard"> -->
    <!-- <h3 class="fs-subtitle">We just need some basic information to begin your scoring</h3> -->
      <!-- <div class="row" style="overflow:auto;">
        <div class="display_next" style="margin-top:1%;"> -->

<h2 class="fs-title">Google Sheets Info</h2>
{% csrf_token %}

  <!-- START:New tabs GSHEETS INTEGRATION -->
 <div class="col-md-12 " style="margin-top:3%;margin-bottom: 3%;">
   <!-- <h3 >MACHINE LEARNING</h3> -->
   <div class="layout" style="grid-template-columns: 1fr 1fr;margin-top: 2%;">


     <input name="nav" type="radio" class="nav home-radio modal_radio" id="home"  checked="checked" />
     <div class="page home-page">
       <div class="page-contents" style="position:absolute;left: 0;top: 0;">
          <div>
            <label> INTEGRATION NAME</label>
            {{url_sheet_form.sheet_url_name}}
            <!-- <input type="text" name="" class="form-control" value=""> -->
          </div>
          <div>
            <label> URL</label>
            {{url_sheet_form.url}}
            <!-- <input type="text" name="" class="form-control" value=""> -->
          </div>
          <div>
            <label>DATA STARTS FROM ROW </label>
            {{url_sheet_form.header}}
            <!-- <input type="text" name="" class="form-control" value=""> -->
          </div>
          <div>
            <label> DATA PULL FREQUENCY </label>
            {{url_sheet_form.cron_frequency}}
            <!-- <input type="text" name="" class="form-control" value=""> -->
          </div>
          <!-- <input type="button" id="api_button" name="" onclick="googleDataCheck()" value="CONNECT"> -->
       </div>
     </div>
     <label class="nav" for="home">
       <span>
          USING LINK
       </span>
     </label>

     <input name="nav" type="radio" class="about-radio modal_radio" id="about"/>
     <div class="page about-page">
       <div class="page-contents">
          <div>
            <label for="">INTEGRATION NAME</label>
            {{sheet_details_form.sheet_name}}
          </div>
          <div>
            <label for="">UPLOAD CREDENTIALS FILE</label>
            {{sheet_details_form.credential}}
           </div>
           <div>
             <label for="">SPREADSHEET NAME </label>
             {{sheet_details_form.spreadsheet_id}}
            </div>
            <div>
              <label for="">THE DATA START ROW</label>
              {{sheet_details_form.sheet_header}}
              </div>
            <div>
              <label for="">DATA PULL FREQUENCY</label>
              {{sheet_details_form.data_range}}
              </div>
             
       </div>
     </div>
     <label class="nav" for="about">
       <span>
         USING CREDENTIALS FILE
         </span>
       </label>


   </div>
 </div>

 <!-- END:New tabs GSHEETS INTEGRATION -->

  <input type="text" name="project" id="id_project" value="{{project.pk}}" style="visibility: hidden;" />
  <input type="text" name="sheet_pk" id="sheet_id"  style="visibility: hidden;" />

    <input type="button" id="first_button" data-page="1"  name="next" class="next action-button fixed_button" value="Next">
    <!-- <div class="" style="display:flex;">
      <img src="{% static 'images/info.png' %}" class=""/>
      <input type="button" data-page="1" name="next" class="next action-button" value="Next"
      onclick="projectCreate()"  >
    </div> -->
    <!-- <div class="explanation btn btn-small modal-trigger" data-modal-id="modal-3">
    <i class="question-log fa fa-question-circle"></i> What Is This?</div> -->
  </fieldset>



  <!-- ACQUISITION FIELD SET -->
  <fieldset>
        <h2 class="fs-title">Choose Nan/s</h2>
    <!-- <h3 class="fs-subtitle">How long can you keep your donors and their donations?</h3> -->
    <div class="">
      <div class="row scroller " id="metadata_id" style="display:flex;">
        <div class="col-md-12 "></div>
      </div>
    </div>

    <input type="button" data-page="2" name="previous" class="previous action-button" value="Previous" />
    <input type="button" data-page="2" onclick="readFiles()" name="next" class="next action-button fixed_button" value="Next" />
    <!-- <div class="explanation btn btn-small modal-trigger" data-modal-id="modal-3">What Is This?</div> -->
  </fieldset>
  <!-- <fieldset>
    <h2 class="fs-title">upload your data</h2>

    <div
      class="form-item webform-component webform-component-textfield hs_total_number_of_donors_in_year_1 field hs-form-field"
      id="webform-component-acquisition--amount-1">



    </div>

    <div class="row">
      <div class="col-md-6">

        <div class="" style="display:flex;">
          <div class="">
          </div>
          <div class="" style="width: 100%;">
            <label for="id_files">Upload File/s</label>

            <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="" style="display:flex;">
          <div class="">
          </div>
          <div class="">
          </div>
        </div>
      </div>
    </div> -->

    <!-- End Total Number of Donors in Year 1 Field -->

    <!-- Begin Total Number of Donors in Year 2 Field -->
    <!-- <div class="form-item webform-component webform-component-textfield hs_total_number_of_donors_in_year_2 field hs-form-field" id="webform-component-acquisition--amount-2">

        <label for="edit-submitted-acquisition-amount-2 total_number_of_donors_in_year_2-99a6d115-5e68-4355-a7d0-529207feb0b3_6344">What was your number of total donors in year 2? *</label>

       {{project_form.file_2}}
        <span class="error1" style="display: none;">
            <i class="error-log fa fa-exclamation-triangle"></i>
        </span>
      </div> -->
    <!-- End Total Number of Donors in Year 2 Field -->

    <!-- Begin Calc of Total Number of Donors Fields -->
    <!-- THIS FIELD IS NOT EDITABLE | GRAYED OUT -->
    <!-- <div class="form-item webform-component webform-component-textfield webform-container-inline hs_total_donor_percent_change field hs-form-field">

        <label for="edit-submitted-acquisition-percent-change total_donor_percent_change-99a6d115-5e68-4355-a7d0-529207feb0b3_6344">Total Donors Percent Change</label>

        {{project_form.file_3}}
      </div> -->
    <!-- End Calc of Total Number of Donors Fields -->

    <!-- <input type="button" data-page="3" name="previous" class="previous action-button" value="Previous" /> -->
    <!-- <input type="button" data-page="3" onclick="" name="next" class="next action-button fixed_button" value="Next" /> -->
    <!-- <div class="explanation btn btn-small modal-trigger" data-modal-id="modal-3">What Is This?</div> -->
  <!-- </fieldset> -->



</form>
  <!-- Cultivation FIELD SET -->
  <fieldset>
    <h2 class="fs-title">view your data</h2>

    <h3 class="fs-subtitle" id="total_project_files"> Total Number of Files:</h3>
    <!-- div  to append the headers yes or no -->
    <div class="" id="delimeter_content_id"></div>
    <div class="" id="test_content_id"></div>
    <input type="button" data-page="3" name="previous" class="previous action-button" value="Previous" />
    <input type="button" data-page="3" id="third_button" name="next" class="next action-button" value="Next"  />
    <div class="explanation btn btn-small modal-trigger" data-modal-id="modal-3">What Is This?</div>
  </fieldset>



  <!-- Cultivation2 FIELD SET -->

  <!-- <fieldset>
    <h2 class="fs-title">Make us understand your data</h2>
    <div>
      <div class="row">
        <div class="col-md-6" style="margin-top: 2%;">
          <label style="width: 55%;">
            Choose Time Series Column:
          </label>
          <div class="" style="width: 88%;">
            <p id="time_series_select_error" style="display: none;color:red;"></p>
            <select name="time_series_column" id="time_series_select" data-autocomplete-light-language="en"
              data-autocomplete-light-function="select2" tabindex="-1" class="select2-hidden-accessible"
              aria-hidden="true">
              <option value="no-time-series">-------------</option>
            </select>
          </div>
        </div>
      </div>
      <div style="margin-bottom: 3%;">
        <p id="relation_error_msg_id" style="display:none;"></p>

        <div class="row" id="relation_create_row_id">
          <label style="margin-left:1.3%;">Choose your Relation bettween files</label>
          <div class="col-md-12" style="display:flex;">
            <div class="" style="width: 43%;">
              <select name="primarykey_relation" id="primarykey_relation_id" data-autocomplete-light-language="en"
                data-autocomplete-light-function="select2" tabindex="-1" class="select2-hidden-accessible"
                aria-hidden="true">
                <option value="">-------------</option>
              </select>
            </div>
            <div class="" style="width: 43%;margin-left: 2%;">
              <select name="foreignkey_relation" id="foreignkey_relation_id" data-autocomplete-light-language="en"
                data-autocomplete-light-function="select2" tabindex="-1" class="select2-hidden-accessible"
                aria-hidden="true">
                <option value="">-------------</option>
              </select>
            </div>
            <button type="button" class="action-button data_append_button" valu="Create"
              onclick="RelatioshipCreate()">Create</button>
          </div>
        </div>
        <div class="row" id="table_display_section" style="display:none">
          <div class="col-md-12 table_content">
            <table class="table table-striped" id="relationship_table">
              <thead>
                <tr>
                  <th scope="row">Primarykey File</th>
                  <th>Primarykey Column</th>
                  <th>ForeignKey File</th>
                  <th>ForeignKey Column</th>
                </tr>
              </thead>
              <tbody id="relation_div_id">


              </tbody>
            </table>
          </div>
        </div>

      </div>



    </div>
    <input type="button" data-page="4" name="previous" class="previous action-button" value="Previous" />
    <input type="button" id="fourth_button" data-page="4" name="next" class="next action-button" value="Next" />
    <div class="explanation btn btn-small modal-trigger" data-modal-id="modal-3">What Is This?</div>
  </fieldset> -->



  <!-- RETENTION FIELD SET -->
  <!-- <fieldset>
    <h2 class="fs-title">Choose Nan/s</h2>
    <div class="">
      <div class="row scroller " id="metadata_id" style="display:flex;">
        <div class="col-md-12 "></div>
      </div>
    </div>


    <input type="button" data-page="5" name="previous" class="previous action-button" value="Previous" />
    <input id="submit" class="hs-button primary large action-button next" onclick="metaDataUpload()" type="button"
      value="Submit">
    <div class="explanation btn btn-small modal-trigger" data-modal-id="modal-3">What Is This?</div>
  </fieldset> -->

  <!-- <fieldset>
    <h2 class="fs-title">Thank you for creating the project!</h2>
    <h3 class="fs-subtitle">Please wait for few seconds as you will be redirected to Project dashboard!</h3>
    <div class="explanation btn btn-small modal-trigger" data-modal-id="modal-3">What Is This?</div>
  </fieldset> -->
  <input type="text" name="project" id="id_project" value="{{project.pk}}" style="visibility: hidden;" />
  <!-- partial -->
</form>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<script src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js'></script>
<script src="{% static 'multi_form/script.js' %}"></script>


<script>
  //script for the  project from first step of multistep form  //
var current_fs, next_fs, previous_fs;
  var left, opacity, scale;
  var animating;


  $(".next").click(function () {
    // alert("hi")
      // $(".steps").validate({
      //     errorClass: 'invalid',
      //     errorElement: 'span',
      //     errorPlacement: function (error, element) {
      //         error.insertAfter(element.next('span').children());
      //     },
      //     highlight: function (element) {
      //         $(element).next('span').show();
      //     },
      //     unhighlight: function (element) {
      //         $(element).next('span').hide();
      //     }
      // });
      // if ((!$('.steps').valid())) {
      //     return true;
      // }
      // if (animating) return false;
      // animating = true;
      current_fs = $(this).parent();
      console.log("fwefi"+current_fs)
      next_fs = $(this).parent().next();
      console.log("fwewfewe"+next_fs)
      $('.select2-container').show();
      $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
      console.log(next_fs)

      // For first button
      if(next_fs.context.id==="first_button"){

        document.querySelector('.loading-overlay').style.display = "block"
        var frm = new FormData($('#project_form').get(0));
        var d = $('#file_headers_id');
        var metadata = $('#metadata_id');
        $("#metadata_id").empty();
        var pk = $('#id_project').val();

    // movetoNext();

        $.ajax({
          url: "/dataintegration/sheet-details/"+pk+"/",
          method: "POST",
          headers: { 'X-CSRFToken': '{{ csrf_token }}' },
          data: frm,
          cache: false,
          processData: false,
          contentType: false,
          crossdomain: true,
          dataType:"json",
          success: function (data)
          {
            console.log(data);
            // document.getElementById('loader').style.display = "none";
            document.querySelector('.loading-overlay').style.display = "none"
            if (data.sheet_pk) {
          $('#sheet_id').val(data.sheet_pk)

        }
            if (data.error_msg) {
              // document.getElementById('loader').style.display = "none";
              document.querySelector('.loading-overlay').style.display = "none"

              alert(data.error_msg);
              $('#time_series_select_error').html(data.error_msg);
              $('#time_series_select_error').show()
              return false
        }

        else if (data.all_columns) {
          movetoNext();

          for (let [key, value] of Object.entries(data.all_columns)) {
            for (let [k, v] of Object.entries(data.column_nan)) {
              if (key == k){
                var count = v

              }


            }


            if (value == 0) {
              var html = `<div class="right_margin"><span>${key}</span><br />NAN Count ${count}<br><select id="${key}_select" name="${key}_select" onchange="selectFunction('${key}')" ><option value="zero" selected>Zero</option><option value="previous" >Previous Value</option><option value="drop" >Delete Row</option><option value="delete_column" >Delete Column</option><option value="custom_value" >Create New Value</option></select> <input type="number" id="${key}_input" name="${key}_input" style="display:none" desabled></div>`

              $("#metadata_id").append(html)
            }
            else if (value == "None") {
              var html =`<div class="right_margin"><span> ${key} </span><br />NAN Count ${count}<br><select id="${key}_select" name="${key}_select" onchange="selectFunction('${key}')"><option value="None" selected>None</option><option value="previous" >Previous Value</option><option value="drop" >Delete Row</option><option value="delete_column" >Delete Column</option><option value="custom_value" >Create New Value</option></select><input type="text" id="${key}_input" name="${key}_input" style="display:none" desabled></div>`
              $("#metadata_id").append(html)
            }
          }
        }

        else if (data.pk) {
          document.querySelector('.loading-overlay').style.display = "none";

          sucessFunction(data.pk)

        }
        else {
          movetoNext();
        }

      }
    });
      }

      else if(next_fs.context.id==="second_button"){
        readFiles();
      }

      else if(next_fs.context.id==="third_button"){
          fileUpload();
      }

      else if(next_fs.context.id==="fourth_button") {
          metaDataGet()
      }

      //
  });


// fuction for the imputation
function selectFunction(name){
  // alert(name);
  id  = '#'+name+'_select'
  input_id = '#'+name+'_input'
  var value = $(id).val()
  if (value == 'custom_value'){
    $(input_id).prop( "disabled", false );
    // $(id).prop( "disabled", true );
    // $(id).hide();
    $(input_id).show();
  }
  else{
    $(input_id).prop( "disabled", true );
    // $(id).prop( "disabled", true );
    // $(id).hide();
    $(input_id).hide();

  }

}

// START :  FUNCTION TO MOVE TO NEXT SECTION UPON SUCESS FROM AJAX
  function movetoNext() {
    next_fs.show();
    current_fs.animate({
        opacity: 0
    }, {
        step: function (now, mx) {
            scale = 1 - (1 - now) * 0.2;
            left = (now * 50) + "%";
            opacity = 1 - now;
            current_fs.css({
                'transform': 'scale(' + scale + ')'
            });
            next_fs.css({
                'left': left,
                'opacity': opacity
            });
        },
        duration: 800,
        complete: function () {
            current_fs.hide();
            animating = false;
        },
        easing: 'easeInOutExpo'
    });
  }
// END :  FUNCTION TO MOVE TO NEXT SECTION UPON SUCESS FROM AJAX

  //end of script to create project from first step of multistep form //

</script>
<script type="text/javascript">//script to upload files from second step of multistep form //





</script>
<script type="text/javascript">
  //script for file headers upload
  function fileUpload() {
    var frm = new FormData($('#project_form').get(0));
    var d = $('#file_headers_id');

    var time_series_select = $('#time_series_select');
    $('#time_series_select').empty();
    var primarykey_relation_select = $('#primarykey_relation_id');
    var foreignkey_relation_select = $('#foreignkey_relation_id');
    movetoNext();

    $.ajax({
      url: "/file/upload/",
      method: "POST",
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: frm,
      cache: false,
      processData: false,
      contentType: false,
      success: function (data) {
        document.getElementById('loader').style.display = "none";
        if (data.error_msg) {
          alert(data.error_msg)
        }
        else if (data.relation_all_columns) {
          movetoNext();
          time_series_select.append('<option value="no-time-series">--------</option>');
          for (let [key, value] of Object.entries(data.time_series_all_columns)) {
            time_series_select.append('<option value="' + value + '">' + key + '</option>');
          }
          for (let [key, value] of Object.entries(data.relation_all_columns)) {
            primarykey_relation_select.append('<option value="' + key + '">' + value + '</option>');
          };
          for (let [key, value] of Object.entries(data.relation_all_columns)) {
            foreignkey_relation_select.append('<option value="' + key + '">' + value + '</option>');
          };
        }
        else {
          $('#relation_create_row_id').hide();

          time_series_select.append('<option value="no-time-series">--------</option>');
          for (let [key, value] of Object.entries(data.time_series_all_columns)) {
            time_series_select.append('<option value="' + value + '">' + key + '</option>');
          };
        }
      }
    });
  }

</script>
<script type="text/javascript">
  function fileHeaderYes(file_name) {
    var checked = document.getElementById(file_name + '_header_yes');
    // alert("value"+checked);
    if (checked.checked == true) {
      // alert('true');
      document.getElementById(file_name + '_header_disply').style.display = "block";
      document.getElementById(file_name + '_header').style.display = "none";
      document.getElementById(file_name + '_header_row_div').style.display = "block";
    }
    else {
      // alert('false');
      document.getElementById(file_name + '_header').style.display = "block";
      document.getElementById(file_name + '_header_row_div').style.display = "none";
      document.getElementById(file_name + '_header_disply').style.display = "none";
    }


  }
  function fileHeaderNo(file_name) {
    // alert("called" + file_name);

    var checked = document.getElementById(file_name + '_header_no');
    // alert("value" + checked);
    if (checked.checked == true) {
      // alert('true');
      document.getElementById(file_name + '_header').style.display = "block";
      document.getElementById(file_name + '_header_disply').style.display = "none";
      document.getElementById(file_name + '_header_row_div').style.display = "none";
    }
    else {
      // alert('false');
      document.getElementById(file_name + '_header_disply').style.display = "none";
      document.getElementById(file_name + '_header').style.display = "none";
      document.getElementById(file_name + '_header_row_div').style.display = "block";
    }


  }
  function file2No() {
    var checked = document.getElementById('file_2_no')
    if (checked == true) {
      document.getElementById('file_2_header').style.display = "none";
    }
    else {
      document.getElementById('file_2_header').style.display = "block";
    }


  }
  function file2Yes() {
    var checked = document.getElementById('file_2_yes')
    if (checked == true) {
      document.getElementById('file_2_header').style.display = "block";
    }
    else {
      document.getElementById('file_2_header').style.display = "none";
    }


  }
  function file3No() {
    var checked = document.getElementById('file_3_no')
    if (checked == true) {
      document.getElementById('file_3_header').style.display = "none";
    }
    else {
      document.getElementById('file_3_header').style.display = "block";
    }


  }
  function file3Yes() {
    var checked = document.getElementById('file_3_yes')
    if (checked == true) {
      document.getElementById('file_3_header').style.display = "block";
    }
    else {
      document.getElementById('file_3_header').style.display = "none";
    }


  }
</script>

<!-- script for relationship and metadata hadling -->
<script type="text/javascript">
  /// start script for metadata handling
  function metaDataGet() {

    var frm = new FormData($('#project_form').get(0));
    var pk = $('#id_project').val();
    // alert("called");
    var metadata = $('#metadata_id');
    $("#metadata_id").empty();

    $.ajax({
      url: "/file/metadata/" + pk + "/",
      method: "POST",
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: frm,
      cache: false,
      processData: false,
      contentType: false,
      success: function (data) {
        console.log(data);
        document.getElementById('loader').style.display = "none";
        if (data.error_msg) {
          document.getElementById('loader').style.display = "none";
          alert(data.error_msg);
          $('#time_series_select_error').html(data.error_msg);
          $('#time_series_select_error').show()
        }
        else if (data.all_columns) {
          movetoNext();
          for (let [key, value] of Object.entries(data.all_columns)) {
            if (value == 0) {
              $("#metadata_id").append('<div class="right_margin"><span>' + key + '</span><br /><select name="' + key + '"><option value="zero" selected>Zero</option><option value="previous" >Previous Value</option><option value="drop" >Delete Row</option><option value="delete_column" >Delete Column</option></select></div>')
            }
            else if (value == "None") {
              $("#metadata_id").append('<div class="right_margin"><span>' + key + '</span><br /><select name="' + key + '"><option value="None" selected>None</option><option value="previous" >Previous Value</option><option value="drop" >Delete Row</option><option value="delete_column" >Delete Column</option</select></div>')
            }
          }
        }
        else {
          movetoNext();
        }
      }
    });
  }
  /// end script for metadata handling


  /// start script for metadata create
  function metaDataUpload() {
    document.getElementById('loader').style.display = "block";
    var frm = new FormData($('#project_form').get(0));
    var pk = $('#id_project').val();



    $.ajax({
      url: "/project/",
      method: "POST",
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: frm,
      cache: false,
      processData: false,
      contentType: false,
      success: function (data) {
        document.getElementById('loader').style.display = "none";
        if (data.msg) {
          alert(data.msg);
          sucessFunction(data.pk)
        }
        else {
          alert(data.error_msg)
        }



        console.log(data);

      }
    });
  }
  /// end script for metadata create


</script>
<script type="text/javascript">
  /// start script for Relatioship handling
  function RelatioshipCreate() {
    var frm = new FormData($('#project_form').get(0));
    var pk = $('#id_project').val();

    document.getElementById('relation_error_msg_id').style.display = "none";

    var primarykey_relation_select = $('#primarykey_relation_id');
    var foreignkey_relation_select = $('#foreignkey_relation_id');



    $.ajax({
      url: "/file/relationship/" + pk + "/",
      method: "POST",
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: frm,
      cache: false,
      processData: false,
      contentType: false,
      success: function (data) {
        // alert(JSON.stringify(data.error_msg))
        if (data.relation_list) {
          // table.tBodies[0].rows.length;
          var html = `
                    <tr id="${data.relation_list.id}">
                      <td scope="row">${data.relation_list.file_1}</td>
                      <td>${data.relation_list.column_1}</td>
                      <td scope="row">${data.relation_list.file_2}</td>
                      <td>${data.relation_list.column_2}<i class="fa fa-trash" aria-hidden="true" style="margin-left:11%;"  onclick="RelatioshipDelete('${data.relation_list.id}')"></i></td>
                    </tr>
                    `;
          $('#relation_div_id').append(html);
          $('#table_display_section').show();
          $("#foreignkey_relation_id").val($("#foreignkey_relation_id option:eq()").val());
          $('#select2-foreignkey_relation_id-container').html("");
          $("#primarykey_relation_id").val($("#primarykey_relation_id option:eq()").val());
          $('#select2-primarykey_relation_id-container').html("");
        }
        else if (data.error_msg) {
          alert(data.error_msg);
        }

      }
    });
  }
  /// end script for Relatioship handling
</script>
<!-- end script for Relatioship and metadata handling -->

<script>
  document.getElementById('color_id').style.background = "#4a90e2";
  document.getElementById('color_id').value = "rgb(74, 144, 226)";

  var files = {};
  var fileCollection
  //  start script to delete the relation
  function RelatioshipDelete(pk) {
    var frm = new FormData($('#project_form').get(0));
    var table = document.getElementById("relationship_table");
    document.getElementById('relation_error_msg_id').style.display = "none";
    // alert("called" + pk);
    var primarykey_relation_select = $('#primarykey_relation_id');
    var foreignkey_relation_select = $('#foreignkey_relation_id');
    $("#" + pk).remove();
    if (table.tBodies[0].rows.length < 1) {
      $('#table_display_section').hide();
    }



    $.ajax({
      url: "/file/relationship/delete/" + pk + "/",
      method: "POST",
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: frm,
      cache: false,
      processData: false,
      contentType: false,
      success: function (data) {
        // alert(JSON.stringify(data.error_msg))
        if (data.error_msg) {
          alert(data.error_msg);


        }
        else {
          id = '#' + data.id;
          $(id).remove();


        }
        $("#foreignkey_relation_id").val($("#foreignkey_relation_id option:eq()").val());
        $('#select2-foreignkey_relation_id-container').html("");
        $("#primarykey_relation_id").val($("#primarykey_relation_id option:eq()").val());
        $('#select2-primarykey_relation_id-container').html("");
        if (table.tBodies[0].rows.length < 2) {
          $('#table_display_section').hide();
        }

      }
    });
  }
  //  end  script to delete the relation



  //START: script for Deleting Files
  function deleteFile(ele, index) {
    console.log(files[index]);
    delete files;
    console.log(files);

    ele.parentNode.parentNode.removeChild(ele.parentNode);
  }
  //END: script for Deleting Files

  //START: Color selection script
  function selectedColor(ele) {

    document.getElementById('color_id').style.background = ele.style.background;
    document.getElementById('color_id').value = ele.style.background;
  }
  //END: Color selection script








  //Delete later

function readFiles() {
    // alert("called");
    // document.getElementById('loader').style.display = "block";
    document.querySelector('.loading-overlay').style.display = "block";
    var frm = new FormData($('#project_form').get(0));
    var pk = $('#id_project').val();

    $.ajax({
      url: "/dataintegration/sheet-na-filling/"+pk+"/",
      method: "POST",
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: frm,
      cache: false,
      processData: false,
      contentType: false,
      success: function (data) {
        if (data.error) {
          document.querySelector('.loading-overlay').style.display = "none";
          alert(data.error);
        }
        else if (data.pk) {
          sucessFunction(data.pk)

      }
      }
    });
  }
  function sucessFunction(pk) {
    // var url = "http://127.0.0.1:8000/single-project/" + pk + "/"
    document.querySelector('.loading-overlay').style.display = "none";
    var url = "https://brayn.ai/single-project/" + pk + "/";
    window.location = url;
  }




  function escapeHTML(str) {
    return new Option(str).innerHTML;
  }
//end of script to upload files from second step of multistep form //
</script>



<script src="{%static 'js/jscolor.js' %}"></script>


{% endblock body %}
