{% extends 'login/subpages_base.html' %}
{% load staticfiles %}
{% block body %}
<style>
#id_new_password1{
  border-radius: 5px;

}


  div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
}

#id_new_password1 {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: 1px solid #f0f0f0;
  font-size: 16px !important;
  font-weight: 300;
  margin-left: 1.5%;
  background: white;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}


#id_new_password2 {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: 1px solid #f0f0f0;
  font-size: 16px !important;
  font-weight: 300;
  margin-left: 1%;
  background: white;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}



</style>
<div class="form" style="margin-top:10%;">
  {% if validlink %}
    <!-- <h3>Change Password</h3> -->
    <form method="post">
      <div class="container">
        {% if form.errors %}
        {% for field in form  %}

        {% for error in field.errors %}
        <div class="alert alert-danger" style="margin-top: 20px;width: 50%;height: 60px;margin-left: 28%;">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors  %}
        <div class="alert alert-danger" style="width:50%;height: 60px;margin-left: 28%;">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      {% csrf_token %}
      <div class="" style="margin-bottom:2%;">
        <label for="" style="margin-right: 2%;">New Password</label>
          {{ form.new_password1 }}
      </div>
    <div class="">
    <label for="" >Confirm Password </label>
      {{ form.new_password2}}
    </div>

<div class="" style="margin-top:2%;">
  <button type="submit" style="width:25%;background-color:#4a90e2;border-radius:8px;border:1px solid #4a90e2;color:white;margin-left:13px">Change Password</button>
</div>


    </form>
  {% else %}
    <p style="margin-top: 14.5%;font-weight: bold;font-size: 17px;">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</div>
<footer id="colorlib-footer" style="margin-top:20%">
<div class="container">
<div class="row row-pb-md" id="footer_details" style="position: relative;bottom: 50px;" >
<div class="col-md-3 colorlib-widget">

</div>
<div class="col-md-3 colorlib-widget">

</div>
<div class="col-md-3 colorlib-widget" id="footer_info">

  <p>
  <ul class="colorlib-footer-links" id="show_on_desktop" style="display:flex;list-style:none">
      <li class="footer_home_link"><a href="{% url 'coreapp:home' %}"><span style="color:#A9A9A9">Home</span></a></li>
      <li class="footer_blog_link"><a href="https://medium.com/braynai"><span style="color:#A9A9A9">Blog</span></a></li>
      <li class="footer_login_link"><a href="{% url 'login:login' %}"><span style="color:#A9A9A9">Login</span></a></li>
      <li class="footer_credits_link"><a href="#"><span style="color:#A9A9A9">Credits</span></a></li>
  </ul>

  <ul class="colorlib-social-icons social_icons" >
      <li><a href="https://twitter.com/brayntranscend">  <i class="fab fa-twitter-square" aria-hidden="true"  style="color:#4a90e2"></i></a></li>
      <li><a href="https://www.facebook.com/transcendbrayn/"><i class="fab fa-facebook-square" aria-hidden="true"  style="color:#4a90e2"></i></a></li>
      <li><a href="https://linkedin.com/company/transcendbrayn"><i class="fab fa-linkedin" aria-hidden="true"  style="color:#4a90e2"></i></a></li>
  <!-- <li><a href="#"><i class="icon-dribbble" style="color:#4a90e2"></i></a></li> -->
  </ul>

  </p>
</div>


<div class="col-md-3 colorlib-widget">
</div>
</div>
</div>
<div class="copy" id="copy_div">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<p style="color:#A9A9A9">

Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="#" ><span style="color:#A9A9A9">Quanscendence Technologies Pvt Ltd</span></a>

</p>
</div>
</div>
</div>
</div>
</footer>
{% block footer %}
{% endblock footer %}
{% endblock body %}
