{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="uza - Model Agency HTML5 Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Qdesk</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static '/img/logos/favicon.ico' %}">

    <!-- Core Stylesheets -->
    <link rel="stylesheet" href="https://therealmstorage.sgp1.cdn.digitaloceanspaces.com/quanscendence/qdesk/static/style.css">
    <link rel="stylesheet" href="https://therealmstorage.sgp1.cdn.digitaloceanspaces.com/quanscendence/qdesk/static/css/style.css">
    <link rel="stylesheet" href="https://therealmstorage.sgp1.cdn.digitaloceanspaces.com/quanscendence/qdesk/static/css/responsive_tabs.css">

  <style media="screen">
    .classynav a {
      text-transform: uppercase !important;
    }
  </style>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="wrapper">
            <div class="cssload-loader"></div>
        </div>
    </div>

    <!-- ***** Top Search Area Start ***** -->
    <div class="top-search-area">
        <!-- Search Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close Button -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <!-- Form -->
                        <form action="index.html" method="post">
                            <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Top Search Area End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="uzaNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="{%url 'coreapp:home' %}">
                      <img src="{% static '/img/logos/qdesk_small.png' %}" alt="">
                    </a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap">
                              <span class="top"></span>
                              <span class="bottom"></span>
                              </div>
                          </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav" style="text-transform:uppercase">
                              <li class="{{home_page}}">
                                <p><strong>LOGGED IN AS: {{user}}</strong></p>
                              </li>
                                <li class="{{home_page}}">
                                  <a href="{% url 'adminapp:admin-dashboard' %}">Home</a>
                                </li>

                                <li class="{{contact}}">
                                  <a href="/logout/">Logout</a>
                                </li>
                            </ul>

                            <!-- Get A Quote -->
                           <!--  <div class="get-a-quote ml-4 mr-3">
                                <a href="#" class="btn uza-btn">Get A Quote</a>
                            </div> -->

                            <!-- Login / Register -->
                            <!-- <div class="login-register-btn mx-3">
                                <a href="#">Login <span>/ Register</span></a>
                            </div> -->

                            <!-- Search Icon -->
                           <!--  <div class="search-icon" data-toggle="modal" data-target="#searchModal">
                                <i class="icon_search"></i>
                            </div> -->
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
{% block body %}

{%endblock body%}
    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area section-padding-80-0">
        <div class="container">


           <div class="row" style="margin-bottom: 30px;">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <a href="https:/quanscendence.com" target="_blank">  Quanscendence Technologies Pvt Ltd</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>

        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- ******* All JS Files ******* -->
    <!-- jQuery js -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- All js -->
    <script src="{% static 'js/uza.bundle.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/default-assets/active.js' %}"></script>

</body>

</html>
