<html>

<head>

</head>

<body>


    <header>
        <img src="https://therealmstorage.sgp1.cdn.digitaloceanspaces.com/quanscendence/qdesk/static/img/logos/qdesk_small.png"
            alt="">
    </header>
    
    <p>Hi, </br></br>BRAYN </br></br>
    {{message}}</p>




    <div class="row">
        <div class="col-md-6">
            Email : {{email}}
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
             Name: {{name}}
        </div>
        <div class="col-md-6">

        </div>
    </div>
   <!--  <div class="row">
        <div class="col-md-6">
            Ticket Status :{{status}}
        </div>
        <div class="col-md-6">

        </div>
    </div> -->
    <!-- <div class="row">

        <div class="col-md-6">
            Ticket ID : {{ticket.ticket_id}}
        </div>
        <div class="col-md-6">

        </div>
    </div> -->

    <!-- <div class="row">

        <div class="col-md-6">
            Status From : {{status_from}}
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Status To : {{status_to}}
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            User : {{user}}
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Date & Time : {{date}}
        </div>
        <div class="col-md-6"></div>
    </div> -->
</body>

</html>
