{%extends 'base.html'%}
{%load staticfiles%}
{%block body%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section class="page-section bg-primary" id="about">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="text-white mt-0">Welcome to Kiddos International School</h2>
            <p></p>
          </div>
        </div>
      </div>
      <div>
        <h4>THINK</h4>
        <p>A child's curiosity is creatively guided to set their mind ticking allowing them to explore the big wide world around them.</p>
        <h4>LEARN</h4>
        <p>The exploration when associated with appropriate audio – visual stimuli and action–reaction exercises allows them to satisfy their inquisitiveness and reach their individual “ah” moments. These moments in turn become valuable lessons.</p>
        <h4>CREATE</h4>
        <p>The child applies the knowledge to emerge with new ideas which when implemented helps build their self esteem. It also provides insight on their skills, talents and interests thus building their personality</p>
        <h4>Our Vision and Values</h4>
        <li>To provide high quality learning and teaching to enable every child to achieve their very best.</li>
        <li>To inspire love of learning through a rich and exciting curriculum</li>
        <li>values of high self-esteem and high expectations for all.</li>
        <li>prepared to be responsible citizens for the future.</li>

      </div>
    </section>
  </body>
</html>

{%endblock body%}
