{%extends 'base.html'%}
{%load staticfiles%}
{%block body%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section class="page-section bg-primary" id="enquiry">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="text-white mt-0">Enquiries are welcome</h2>
            <hr class="divider light my-4">
            <p class="text-white-50 mb-4">Want to know anything more about school? Fill the form..we will get back to you.</p>

          </div>
          <div>
            <h3>Enquiry Form</h3>
              <div>
              <form method="post">
              {% csrf_token %}
              {{form.as_p}}
              <button type="submit">Send</button>
            </form>
          </div>

        </div>
      </div>
    </section>
  </body>
</html>
{%endblock body%}
