.loading-overlay {
  display: none;
  color: #111 !important;
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9998;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.loading-overlay.is-active {
  display: -webkit-box;
  display: flex;
}

.code {
  font-family: monospace;
/*   font-size: .9em; */
  color: #dd4a68;
  background-color: rgb(238, 238, 238);
  padding: 0 3px;
}

.fa-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}


.loading-message {
  position: fixed;
  z-index: 999;
  height: 0.2em;
  width: 100%;
  overflow: show;
  margin: auto;
  padding-top: 7em;
  padding-left: 2em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
