{% extends 'dashboard/index.html' %}
{% load staticfiles %}
{% block body %}
<style>
  #users{
    text-align: center;
font-size: 15px;
font-weight: 600;
  }
#table{
  margin-top: 20%;
    margin-left: 12%;
    border: none;
    padding: 30px;
    border-radius: 8px;
    box-shadow:0px 0px 18px 3px rgba(0,0,0,0.13);
}
  </style>

<!-- <div class="" style="margin-top: 10%; margin-left:1%;">
  <h3>Creating dashboard for the Project </h3>
</div> -->
<div style="margin-left:22%">
<form class="" method="post" style="margin-top:3%;">
  {% csrf_token %}
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="table" >
  <p style="text-align: center;font-size: 20px;">Creating Dashboard For The Project</p>
  <div class="form-group">
  {{dashboard_form.dashboard_title}}
  </div>
   {% if customer.type == 'Company' %}
  <p id="users"> Add users to dashboard </p>

        <select name='dashboard_user'id="project users" class="multiselect" multiple="multiple" style="margin-left:28%">
        {% for p in project_users %}
            <option value={{p.project_user}} >{{p.project_user}}</option>
        {% endfor %}
        </select>

  {% endif %}
  <button type="submit" class="btn btn-primary waves-effect waves-light" style="margin-left: 38%;margin-top: 5%;">Submit</button>
  </div>
  <div class="container">
    {% if dashboard_form.errors %}
    {% for field in dashboard_form  %}

    {% for error in field.errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in dashboard_form.non_field_errors  %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</form>
</div>

{% endblock body %}
