{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>brayn </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- favicon
============================================ -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'dashboard/img/Brayn_Favicon_75.png' %}">
  <!-- Google Fonts
============================================ -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
  <!-- Bootstrap CSS
============================================ -->
  <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}">
  <!-- Bootstrap CSS
============================================ -->
  <link rel="stylesheet" href="{% static 'dashboard/css/font-awesome.min.css' %}">
  <!-- owl.carousel CSS
============================================ -->
  <link rel="stylesheet" href="{% static 'dashboard/css/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/css/owl.theme.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/css/owl.transitions.css' %}">
  <!-- animate CSS
============================================ -->
  <link rel="stylesheet" href="{% static 'dashboard/css/animate.css' %}">
  <!-- normalize CSS
============================================ -->
  <link rel="stylesheet" href="{% static 'dashboard/css/normalize.css' %}">
  <!-- meanmenu icon CSS
============================================ -->
  <link rel="stylesheet" href="{% static 'dashboard/css/meanmenu.min.css' %}">
  <!-- main CSS
============================================ -->
  <link rel="stylesheet" href="{% static 'dashboard/css/main.css' %}">
  <!-- educate icon CSS
============================================ -->
  <link rel="stylesheet" href="{% static 'dashboard/css/educate-custon-icon.css' %}">
  <!-- morrisjs CSS
============================================ -->
  <link rel="stylesheet" href="{% static 'dashboard/css/morrisjs/morris.css' %}">
  <!-- mCustomScrollbar CSS
============================================ -->
  <link rel="stylesheet" href="{% static 'dashboard/css/scrollbar/jquery.mCustomScrollbar.min.css' %}">
  <!-- metisMenu CSS
============================================ -->
  <link rel="stylesheet" href="{% static 'dashboard/css/metisMenu/metisMenu.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/css/metisMenu/metisMenu-vertical.css' %}">
  <!-- calendar CSS
============================================ -->
  <link rel="stylesheet" href="{% static 'dashboard/css/calendar/fullcalendar.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/css/calendar/fullcalendar.print.min.css' %}">

  <!-- <link rel='stylesheet' href='http://brienlabs.com/ruby-mega-menu/css/ruby-transitions.css'>
    <link rel='stylesheet' href='http://brienlabs.com/ruby-mega-menu/css/ruby-main.css'> -->
  <!-- style CSS
============================================ -->
  <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">

  <link rel="stylesheet" href="{% static 'dashboard/css/side_navigations.css' %}">
  <!-- responsive CSS
============================================ -->
  <link rel="stylesheet" href="{% static 'dashboard/css/responsive.css' %}">
  <!-- modernizr JS
============================================ -->
  <script src="{% static 'dashboard/js/vendor/modernizr-2.8.3.min.js' %}"></script>

  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">


  <style>
    /* remove plotly icon */
    .modebar-btn plotlyjsicon modebar-btn--logo {
      display: none !important;
    }

    .js-plotly-plot .plotly .modebar-btn--logo {
      display: none !important;
    }

    /* end */
    body {
      font-family: 'Poppins', sans-serif;
      background: #fff;
      overflow-x: hidden;
      overflow-y: hidden;
      width: 100%;
    }

    /* #show_me {
     display: none;
          } */
    /* .default_side{
                margin-left: -8%;
          }
          .no_default{
                margin-left: 10%;
          } */
    .div_aside {
      margin-left: -8%;
    }

    .new_class {
      margin-left: 10%;
    }

    .header_row {
      background: #4a90e2;
      width: 118%;
      margin-left: -12.2%;
    }

    .new_header {
      background: #4a90e2;
      width: 100%;
      margin-left: 5.8%;
    }

    #hide_seek {
      display: none;
    }

    /* .sidenav_right{
      opacity: 1;
      width: 200px;
      height: auto;

  }
  .closebtn_right{
    position: absolute;
    margin-top: -16%;
    margin-right: 78%;
  } */


    .mega_section {
      visibility: hidden !important;
      opacity: 0 !important;
    }

    .blog_section {
      visibility: hidden !important;
      opacity: 0 !important;
    }

    .shop_section {
      visibility: hidden !important;
      opacity: 0 !important;
    }

    .show {
      visibility: visible !important;
      opacity: 1 !important;
    }

    .background_color {
      background: #fff !important;
      color: #4a90e2 !important
    }

    .query_button {
      background-color: #4a90e2;
      color: white;
      border: #4a90e2;
      border-radius: 8px;
      margin-top: 3px;
      padding: 4px 6px;
    }

    .menu_section_style {
      background: #4a90e2;
      padding-top: 4px;
      padding-left: 4px;
      padding-right: 5px;
    }

    .cross_arrow {
      width: 1.5%;
      float: right;
      margin-right: 2%;
      margin-top: 1%;
    }

    .close {
      cursor: pointer;
      position: absolute;
      font-size: 38px;
      top: 3%;
      z-index: 1111111;
      right: 0%;
      padding: 16px 16px;
      transform: translate(0%, -50%);
    }

    .close_2 {
      cursor: pointer;
      position: absolute;
      font-size: 38px;
      top: 11%;
      right: 0%;
      padding: 16px 16px;
      transform: translate(0%, -50%);
    }

    .project_titles {

      line-height: 50px;
      color: #efefef;
      font-size: 10px;
      text-decoration: none;
      font-weight: 700;
      text-transform: uppercase;
      margin-left: 17%;
    }

    .logo_image_style {
      float: left;
      position: relative;
      z-index: 99;
    }

    .highlight {
      background: #e0dddd;
    }

    /*style for modal */
    .modal {
      display: none;
      position: fixed;
      padding-top: 50px;
      left: 0;
      top: 0%;
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
      position: relative;
      background-color: white;
      top: 27%;
      padding: 20px;
      margin: auto;
      width: 75%;
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }

    .close-btn {
      float: right;
      color: lightgray;
      font-size: 24px;
      font-weight: bold;
    }

    .close-btn:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    @-webkit-keyframes animatetop {
      from {
        top: -300px;
        opacity: 0
      }

      to {
        top: 0;
        opacity: 1
      }
    }

    @keyframes animatetop {
      from {
        top: -300px;
        opacity: 0
      }

      to {
        top: 0;
        opacity: 1
      }
    }

    /*end of style for modal */

    .select2-container {
      width: 100% !important;
    }

    table {
      border: none !important;
    }

    .select_width {
      width: 50%;
    }

    .info-close-btn {
      float: right;
      color: lightgray;
      font-size: 24px;
      font-weight: bold;
    }

    .plot_submit_button {
      background-color: #4a90e2;
      color: #fff;
      border: none;
      /* font-size: 14px; */
      text-transform: uppercase;
      padding: 1% 5%;
      border-radius: 8px;
    }

    .disable_class {
      pointer-events: none;
      opacity: 0.4;
    }


    .checkbox_list {
      position: relative;
    }



    .visual_display_query_results{
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        overflow: scroll;
        height: 550px;
    }
  </style>


  <script>
// function myFunction() {
//   var x = document.getElementById("hide_me");
//   if (x.style.display === "none") {
//     x.style.display = "block";
//     document.getElementById('show_me').style.display = "none";
//
//   } else {
//     x.style.display = "none";
//
//     document.getElementById('show_me').style.display = "block";
//   }
// }
  </script>
</head>

<body style="font-family: 'Poppins', sans-serif;">
  <!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


  <div class="all-content-wrapper">
    <div class="header-advance-area">


    </div>
  </div>


  <!-- START: RUBY DEMO HEADER -->
  <div class="ruby-menu-demo-header" style="position:sticky;top:0;">

    <div class="row menu_section_style">
      <div class="col-md-2">

      </div>
      <div class="col-md-12">
        <!-- ########################### -->
        <!-- START: RUBY HORIZONTAL MENU -->
        <div class="ruby-wrapper">
          <a href="{% url 'coreapp:dashboard' %}" class="logo_image_style"><img src="{% static 'images/logo.png' %}"
              alt="" style="max-width: 85%;"></a>
          <button class="c-hamburger c-hamburger--htx visible-xs">
            <span>toggle menu</span>
          </button>
          <ul class="ruby-menu" style="padding-left: 15%;">
            <!-- <li><a href="#">Home</a></li>   -->
            <!-- <li><a href="#">Classic</a>
      <ul class="hover">
        <li><a href="#">2nd Level #1</a></li>
        <li><a href="#">2nd Level #2</a></li>
        <li><a href="#">2nd Level #3</a>
          <ul>
            <li><a href="#"><i class="fa fa-university" aria-hidden="true"></i>3rd Level #1</a>
              <ul>
                <li><a href="#">4th Level #1</a></li>
                <li><a href="#">4th Level #2</a></li>
              </ul>
            <span class="ruby-dropdown-toggle"></span></li>
            <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>3rd Level #2</a></li>
            <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i>3rd Level #3</a>
              <ul>
                <li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i>4th Level #1</a></li>
                <li><a href="#"><i class="fa fa-print" aria-hidden="true"></i>4th Level #2</a></li>
                <li><a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i>4th Level #3</a></li>
              </ul>
            <span class="ruby-dropdown-toggle"></span></li>
          </ul>
        <span class="ruby-dropdown-toggle"></span></li>
        <li class="ruby-open-to-left"><a href="#">2nd Level #4</a>
          <ul>
            <li><a href="#">3rd Level #1</a></li>
            <li><a href="#">3rd Level #2</a></li>
            <li><a href="#">3rd Level #3</a></li>
          </ul>
        <span class="ruby-dropdown-toggle"></span></li>
        <li><a href="#">2nd Level #5</a></li>
      </ul>
    <span class="ruby-dropdown-toggle"></span>
   </li> -->

            <li class="ruby-menu-mega-blog" onclick="blogDropdown(event)" style="display:none">
              <a class="up_arrow dashboard_link" href="#">Dashboards</a>
              <div class="blog_section" id="blog_dropdown" style="height: 269.359px !important; "
                onclick="event.stopPropagation()">

              </div>
              <span class="ruby-dropdown-toggle"></span>
            </li>

            {% if customer.image  %}
            <li class="ruby-menu-right">

                <a class="up_arrow" href="#">WELCOME {{request.user.first_name}}</a>
              {% else %}
            <li class="ruby-menu-right" <img
              src="https://img.icons8.com/cotton/64/000000/gender-neutral-user--v1.png" onclick="callLogout()"><a
                class="up_arrow" href="#">WELCOME {{request.user.first_name}}</a>
              {% endif %}

              <ul id="logout" onclick="event.stopPropagation()">
                <li><a href="{%url 'coreapp:logout' %}">Logout</a></li>
              </ul>
              <!-- <ul>
        <li><a href="#">2nd Level #1</a></li>
        <li><a href="#">2nd Level #2</a></li>
        <li class="ruby-open-to-left"><a href="#">2nd Level #3</a>
          <ul>
            <li class="ruby-open-to-left"><a href="#"><i class="fa fa-university" aria-hidden="true"></i>3rd Level #1</a>
              <ul>
                <li><a href="#">4th Level #1</a></li>
                <li><a href="#">4th Level #2</a></li>
              </ul>
            <span class="ruby-dropdown-toggle"></span></li>
            <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>3rd Level #2</a></li>
            <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i>3rd Level #3</a>
            </li><li><a href="#"><i class="fa fa-file" aria-hidden="true"></i>3rd Level #4</a>
              <ul>
                <li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i>4th Level #1</a></li>
                <li><a href="#"><i class="fa fa-print" aria-hidden="true"></i>4th Level #2</a></li>
                <li><a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i>4th Level #3</a></li>
              </ul>
            <span class="ruby-dropdown-toggle"></span></li>
          </ul>
        <span class="ruby-dropdown-toggle"></span></li>
        <li class="ruby-open-to-left"><a href="#">2nd Level #4</a>
          <ul>
            <li><a href="#">3rd Level #1</a></li>
            <li><a href="#">3rd Level #2</a></li>
            <li><a href="#">3rd Level #3</a></li>
          </ul>
        <span class="ruby-dropdown-toggle"></span></li>
        <li><a href="#">2nd Level #5</a></li>
      </ul> -->
              <span class="ruby-dropdown-toggle"></span></li>



          </ul>
        </div>
        <!-- END:   RUBY HORIZONTAL MENU -->
        <!-- ########################### -->
      </div>
    </div>

  </div>
  <!-- END: RUBY DEMO HEADER -->

  {% block body %}


  <!-- START: NAVIGATION THROUGH BREADCRUMBS -->
  <!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav> -->
  <!-- END: NAVIGATION THROUGH BREADCRUMBS -->

  <!-- Mobile Menu start -->
  <div class="mobile-menu-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="mobile-menu">
            <nav id="dropdown">
              <ul class="mobile-menu-nav">
                <li><a data-toggle="collapse" data-target="#Charts" href="{% url 'coreapp:home' %}">Home <span
                      class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                <li><a data-toggle="collapse" data-target="#Charts" href="{% url 'coreapp:dashboard' %}">Dashboard <span
                      class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                <li><a data-toggle="collapse" data-target="#Charts" href="{% url 'coreapp:about' %}">About <span
                      class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                <li><a data-toggle="collapse" data-target="#Charts" href="{% url 'coreapp:services' %}">Services <span
                      class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                  <!-- <ul class="collapse dropdown-header-top">
                                    <li><a href="index.html">Dashboard v.1</a></li>
                                    <li><a href="index-1.html">Dashboard v.2</a></li>
                                    <li><a href="index-3.html">Dashboard v.3</a></li>
                                    <li><a href="analytics.html">Analytics</a></li>
                                    <li><a href="widgets.html">Widgets</a></li>
                                </ul> -->
                </li>
                <!-- <li><a href="events.html">Event</a></li> -->
                <!-- <li><a data-toggle="collapse" data-target="#demoevent" href="#">Professors <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="demoevent" class="collapse dropdown-header-top">
                                    <li><a href="all-professors.html">All Professors</a>
                                    </li>
                                    <li><a href="add-professor.html">Add Professor</a>
                                    </li>
                                    <li><a href="edit-professor.html">Edit Professor</a>
                                    </li>
                                    <li><a href="professor-profile.html">Professor Profile</a>
                                    </li>
                                </ul>
                            </li> -->
                <!-- <li><a data-toggle="collapse" data-target="#demopro" href="#">Students <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="demopro" class="collapse dropdown-header-top">
                                    <li><a href="all-students.html">All Students</a>
                                    </li>
                                    <li><a href="add-student.html">Add Student</a>
                                    </li>
                                    <li><a href="edit-student.html">Edit Student</a>
                                    </li>
                                    <li><a href="student-profile.html">Student Profile</a>
                                    </li>
                                </ul>
                            </li> -->
                <!-- <li><a data-toggle="collapse" data-target="#democrou" href="#">Courses <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="democrou" class="collapse dropdown-header-top">
                                    <li><a href="all-courses.html">All Courses</a>
                                    </li>
                                    <li><a href="add-course.html">Add Course</a>
                                    </li>
                                    <li><a href="edit-course.html">Edit Course</a>
                                    </li>
                                    <li><a href="course-profile.html">Courses Info</a>
                                    </li>
                                    <li><a href="course-payment.html">Courses Payment</a>
                                    </li>
                                </ul>
                            </li> -->
                <!-- <li><a data-toggle="collapse" data-target="#demolibra" href="#">Library <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="demolibra" class="collapse dropdown-header-top">
                                    <li><a href="library-assets.html">Library Assets</a>
                                    </li>
                                    <li><a href="add-library-assets.html">Add Library Asset</a>
                                    </li>
                                    <li><a href="edit-library-assets.html">Edit Library Asset</a>
                                    </li>
                                </ul>
                            </li> -->
                <!-- <li><a data-toggle="collapse" data-target="#demodepart" href="#">Departments <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="demodepart" class="collapse dropdown-header-top">
                                    <li><a href="departments.html">Departments List</a>
                                    </li>
                                    <li><a href="add-department.html">Add Departments</a>
                                    </li>
                                    <li><a href="edit-department.html">Edit Departments</a>
                                    </li>
                                </ul>
                            </li> -->
                <!-- <li><a data-toggle="collapse" data-target="#demo" href="#">Mailbox <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="demo" class="collapse dropdown-header-top">
                                    <li><a href="mailbox.html">Inbox</a>
                                    </li>
                                    <li><a href="mailbox-view.html">View Mail</a>
                                    </li>
                                    <li><a href="mailbox-compose.html">Compose Mail</a>
                                    </li>
                                </ul>
                            </li> -->
                <!-- <li><a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">Interface <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                    <li><a href="google-map.html">Google Map</a>
                                    </li>
                                    <li><a href="data-maps.html">Data Maps</a>
                                    </li>
                                    <li><a href="pdf-viewer.html">Pdf Viewer</a>
                                    </li>
                                    <li><a href="x-editable.html">X-Editable</a>
                                    </li>
                                    <li><a href="code-editor.html">Code Editor</a>
                                    </li>
                                    <li><a href="tree-view.html">Tree View</a>
                                    </li>
                                    <li><a href="preloader.html">Preloader</a>
                                    </li>
                                    <li><a href="images-cropper.html">Images Cropper</a>
                                    </li>
                                </ul>
                            </li> -->
                <!-- <li><a data-toggle="collapse" data-target="#Chartsmob" href="#">Charts <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="Chartsmob" class="collapse dropdown-header-top">
                                    <li><a href="bar-charts.html">Bar Charts</a>
                                    </li>
                                    <li><a href="line-charts.html">Line Charts</a>
                                    </li>
                                    <li><a href="area-charts.html">Area Charts</a>
                                    </li>
                                    <li><a href="rounded-chart.html">Rounded Charts</a>
                                    </li>
                                    <li><a href="c3.html">C3 Charts</a>
                                    </li>
                                    <li><a href="sparkline.html">Sparkline Charts</a>
                                    </li>
                                    <li><a href="peity.html">Peity Charts</a>
                                    </li>
                                </ul>
                            </li> -->
                <!-- <li><a data-toggle="collapse" data-target="#Tablesmob" href="#">Tables <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="Tablesmob" class="collapse dropdown-header-top">
                                    <li><a href="static-table.html">Static Table</a>
                                    </li>
                                    <li><a href="data-table.html">Data Table</a>
                                    </li>
                                </ul>
                            </li> -->
                <!-- <li><a data-toggle="collapse" data-target="#formsmob" href="#">Forms <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="formsmob" class="collapse dropdown-header-top">
                                    <li><a href="basic-form-element.html">Basic Form Elements</a>
                                    </li>
                                    <li><a href="advance-form-element.html">Advanced Form Elements</a>
                                    </li>
                                    <li><a href="password-meter.html">Password Meter</a>
                                    </li>
                                    <li><a href="multi-upload.html">Multi Upload</a>
                                    </li>
                                    <li><a href="tinymc.html">Text Editor</a>
                                    </li>
                                    <li><a href="dual-list-box.html">Dual List Box</a>
                                    </li>
                                </ul>
                            </li> -->
                <!-- <li><a data-toggle="collapse" data-target="#Appviewsmob" href="#">App views <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="Appviewsmob" class="collapse dropdown-header-top">
                                    <li><a href="basic-form-element.html">Basic Form Elements</a>
                                    </li>
                                    <li><a href="advance-form-element.html">Advanced Form Elements</a>
                                    </li>
                                    <li><a href="password-meter.html">Password Meter</a>
                                    </li>
                                    <li><a href="multi-upload.html">Multi Upload</a>
                                    </li>
                                    <li><a href="tinymc.html">Text Editor</a>
                                    </li>
                                    <li><a href="dual-list-box.html">Dual List Box</a>
                                    </li>
                                </ul>
                            </li> -->
                <!-- <li><a data-toggle="collapse" data-target="#Pagemob" href="#">Pages <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="Pagemob" class="collapse dropdown-header-top">
                                    <li><a href="{% url 'login:signup' %}">Login</a>
                                    </li>
                                    <li><a href="register.html">Register</a>
                                    </li>
                                    <li><a href="lock.html">Lock</a>
                                    </li>
                                    <li><a href="password-recovery.html">Password Recovery</a>
                                    </li>
                                    <li><a href="404.html">404 Page</a></li>
                                    <li><a href="500.html">500 Page</a></li>
                                </ul>
                            </li> -->
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Mobile Menu-->
  <!-- <div class="container-fluid">
               <div class="row">
                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                       <div class="logo-pro">
                           <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                       </div>
                   </div>
               </div>
           </div> -->

  <div class="header-advance-area">

    <!-- Mobile Menu start -->
    <!-- <div class="mobile-menu-area">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <div class="mobile-menu">
                       <nav id="dropdown">
                           <ul class="mobile-menu-nav">
                               <li><a data-toggle="collapse" data-target="#Charts" href="#">Home <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                   <ul class="collapse dropdown-header-top">
                                       <li><a href="index.html">Dashboard v.1</a></li>
                                       <li><a href="index-1.html">Dashboard v.2</a></li>
                                       <li><a href="index-3.html">Dashboard v.3</a></li>
                                       <li><a href="analytics.html">Analytics</a></li>
                                       <li><a href="widgets.html">Widgets</a></li>
                                   </ul>
                               </li>
                               <li><a href="events.html">Event</a></li>
                               <li><a data-toggle="collapse" data-target="#demoevent" href="#">Professors <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                   <ul id="demoevent" class="collapse dropdown-header-top">
                                       <li><a href="all-professors.html">All Professors</a>
                                       </li>
                                       <li><a href="add-professor.html">Add Professor</a>
                                       </li>
                                       <li><a href="edit-professor.html">Edit Professor</a>
                                       </li>
                                       <li><a href="professor-profile.html">Professor Profile</a>
                                       </li>
                                   </ul>
                               </li>
                               <li><a data-toggle="collapse" data-target="#demopro" href="#">Students <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                   <ul id="demopro" class="collapse dropdown-header-top">
                                       <li><a href="all-students.html">All Students</a>
                                       </li>
                                       <li><a href="add-student.html">Add Student</a>
                                       </li>
                                       <li><a href="edit-student.html">Edit Student</a>
                                       </li>
                                       <li><a href="student-profile.html">Student Profile</a>
                                       </li>
                                   </ul>
                               </li>
                               <li><a data-toggle="collapse" data-target="#democrou" href="#">Courses <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                   <ul id="democrou" class="collapse dropdown-header-top">
                                       <li><a href="all-courses.html">All Courses</a>
                                       </li>
                                       <li><a href="add-course.html">Add Course</a>
                                       </li>
                                       <li><a href="edit-course.html">Edit Course</a>
                                       </li>
                                       <li><a href="course-profile.html">Courses Info</a>
                                       </li>
                                       <li><a href="course-payment.html">Courses Payment</a>
                                       </li>
                                   </ul>
                               </li>
                               <li><a data-toggle="collapse" data-target="#demolibra" href="#">Library <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                   <ul id="demolibra" class="collapse dropdown-header-top">
                                       <li><a href="library-assets.html">Library Assets</a>
                                       </li>
                                       <li><a href="add-library-assets.html">Add Library Asset</a>
                                       </li>
                                       <li><a href="edit-library-assets.html">Edit Library Asset</a>
                                       </li>
                                   </ul>
                               </li>
                               <li><a data-toggle="collapse" data-target="#demodepart" href="#">Departments <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                   <ul id="demodepart" class="collapse dropdown-header-top">
                                       <li><a href="departments.html">Departments List</a>
                                       </li>
                                       <li><a href="add-department.html">Add Departments</a>
                                       </li>
                                       <li><a href="edit-department.html">Edit Departments</a>
                                       </li>
                                   </ul>
                               </li>
                               <li><a data-toggle="collapse" data-target="#demo" href="#">Mailbox <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                   <ul id="demo" class="collapse dropdown-header-top">
                                       <li><a href="mailbox.html">Inbox</a>
                                       </li>
                                       <li><a href="mailbox-view.html">View Mail</a>
                                       </li>
                                       <li><a href="mailbox-compose.html">Compose Mail</a>
                                       </li>
                                   </ul>
                               </li>
                               <li><a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">Interface <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                   <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                       <li><a href="google-map.html">Google Map</a>
                                       </li>
                                       <li><a href="data-maps.html">Data Maps</a>
                                       </li>
                                       <li><a href="pdf-viewer.html">Pdf Viewer</a>
                                       </li>
                                       <li><a href="x-editable.html">X-Editable</a>
                                       </li>
                                       <li><a href="code-editor.html">Code Editor</a>
                                       </li>
                                       <li><a href="tree-view.html">Tree View</a>
                                       </li>
                                       <li><a href="preloader.html">Preloader</a>
                                       </li>
                                       <li><a href="images-cropper.html">Images Cropper</a>
                                       </li>
                                   </ul>
                               </li>
                               <li><a data-toggle="collapse" data-target="#Chartsmob" href="#">Charts <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                   <ul id="Chartsmob" class="collapse dropdown-header-top">
                                       <li><a href="bar-charts.html">Bar Charts</a>
                                       </li>
                                       <li><a href="line-charts.html">Line Charts</a>
                                       </li>
                                       <li><a href="area-charts.html">Area Charts</a>
                                       </li>
                                       <li><a href="rounded-chart.html">Rounded Charts</a>
                                       </li>
                                       <li><a href="c3.html">C3 Charts</a>
                                       </li>
                                       <li><a href="sparkline.html">Sparkline Charts</a>
                                       </li>
                                       <li><a href="peity.html">Peity Charts</a>
                                       </li>
                                   </ul>
                               </li>
                               <li><a data-toggle="collapse" data-target="#Tablesmob" href="#">Tables <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                   <ul id="Tablesmob" class="collapse dropdown-header-top">
                                       <li><a href="static-table.html">Static Table</a>
                                       </li>
                                       <li><a href="data-table.html">Data Table</a>
                                       </li>
                                   </ul>
                               </li>
                               <li><a data-toggle="collapse" data-target="#formsmob" href="#">Forms <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                   <ul id="formsmob" class="collapse dropdown-header-top">
                                       <li><a href="basic-form-element.html">Basic Form Elements</a>
                                       </li>
                                       <li><a href="advance-form-element.html">Advanced Form Elements</a>
                                       </li>
                                       <li><a href="password-meter.html">Password Meter</a>
                                       </li>
                                       <li><a href="multi-upload.html">Multi Upload</a>
                                       </li>
                                       <li><a href="tinymc.html">Text Editor</a>
                                       </li>
                                       <li><a href="dual-list-box.html">Dual List Box</a>
                                       </li>
                                   </ul>
                               </li>
                               <li><a data-toggle="collapse" data-target="#Appviewsmob" href="#">App views <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                   <ul id="Appviewsmob" class="collapse dropdown-header-top">
                                       <li><a href="basic-form-element.html">Basic Form Elements</a>
                                       </li>
                                       <li><a href="advance-form-element.html">Advanced Form Elements</a>
                                       </li>
                                       <li><a href="password-meter.html">Password Meter</a>
                                       </li>
                                       <li><a href="multi-upload.html">Multi Upload</a>
                                       </li>
                                       <li><a href="tinymc.html">Text Editor</a>
                                       </li>
                                       <li><a href="dual-list-box.html">Dual List Box</a>
                                       </li>
                                   </ul>
                               </li>
                               <li><a data-toggle="collapse" data-target="#Pagemob" href="#">Pages <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                   <ul id="Pagemob" class="collapse dropdown-header-top">
                                       <li><a href="login.html">Login</a>
                                       </li>
                                       <li><a href="register.html">Register</a>
                                       </li>
                                       <li><a href="lock.html">Lock</a>
                                       </li>
                                       <li><a href="password-recovery.html">Password Recovery</a>
                                       </li>
                                       <li><a href="404.html">404 Page</a></li>
                                       <li><a href="500.html">500 Page</a></li>
                                   </ul>
                               </li>
                           </ul>
                       </nav>
                   </div>
               </div>
           </div>
       </div>
   </div> -->
    <!-- Mobile Menu end -->
    <!-- <div class="breadcome-area">
       <div class="container-fluid">
           <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <div class="breadcome-list single-page-breadcome">
                       <div class="row">
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                               <div class="breadcome-heading">
                                   <form role="search" class="sr-input-func">
                                       <input type="text" placeholder="Search..." class="search-int form-control">
                                       <a href="#"><i class="fa fa-search"></i></a>
                                   </form>
                               </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                               <ul class="breadcome-menu">
                                   <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                   </li>
                                   <li><span class="bread-blod">Tree View</span>
                                   </li>
                               </ul>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div> -->
  </div>

  <div class="row">

    <div class="col-md-12">
        <div class="scroller visual_display_query_results">
            <!-- <p>Data Column Count:{{df_column_count}}</p>
                  <p>Data Row Count:{{df_rows}}</p> -->
            {% autoescape off %}{{ data_table }}{% endautoescape %}
        </div>

    </div>
  </div>


  <!-- <div class="">

</div> -->
  <!-- <input type="button" value="button name" onclick="window.open('http://127.0.0.1:8000/single-project/1/','popUpWindow','height=900,width=1200,left=10,top=10,,scrollbars=yes,menubar=no')" /> -->
  {% endblock body %}
  <!-- plot js
        ============================================ -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script src="{% static 'dashboard/js/vendor/jquery-1.12.4.min.js' %}"></script>

  <!-- bootstrap J
============================================ -->
  <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
  <!-- wow JS
============================================ -->
  <script src="{% static 'dashboard/js/wow.min.js' %}"></script>
  <!-- price-slider JS
============================================ -->
  <script src="{% static 'dashboard/js/jquery-price-slider.js' %}"></script>
  <!-- meanmenu JS
============================================ -->
  <script src="{% static 'dashboard/js/jquery.meanmenu.js' %}"></script>
  <!-- owl.carousel JS
============================================ -->
  <script src="{% static 'dashboard/js/owl.carousel.min.js' %}"></script>
  <!-- sticky JS
============================================ -->
  <script src="{% static 'dashboard/js/jquery.sticky.js' %}"></script>
  <!-- scrollUp JS
============================================ -->
  <script src="{% static 'dashboard/js/jquery.scrollUp.min.js' %}"></script>
  <!-- counterup JS
============================================ -->
  <script src="{% static 'dashboard/js/counterup/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'dashboard/js/counterup/waypoints.min.js' %}"></script>
  <script src="{% static 'dashboard/js/counterup/counterup-active.js' %}"></script>
  <!-- mCustomScrollbar JS
============================================ -->
  <script src="{% static 'dashboard/js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static 'dashboard/js/scrollbar/mCustomScrollbar-active.js' %}"></script>
  <!-- metisMenu JS
============================================ -->
  <script src="{% static 'dashboard/js/metisMenu/metisMenu.min.js' %}"></script>
  <script src="{% static 'dashboard/js/metisMenu/metisMenu-active.js' %}"></script>
  <!-- morrisjs JS
============================================ -->
  <!-- <script src="{% static 'dashboard/js/morrisjs/raphael-min.js' %}"></script>
<script src="{% static 'dashboard/js/morrisjs/morris.js' %}"></script>
<script src="{% static 'dashboard/js/morrisjs/morris-active.js' %}"></script> -->
  <!-- morrisjs JS
============================================ -->
  <!-- <script src="{% static 'dashboard/js/sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'dashboard/js/sparkline/jquery.charts-sparkline.js' %}"></script>
<script src="{% static 'dashboard/js/sparkline/sparkline-active.js' %}"></script> -->
  <!-- calendar JS
============================================ -->
  <!-- <script src="{% static 'dashboard/js/calendar/moment.min.js' %}"></script>
<script src="{% static 'dashboard/js/calendar/fullcalendar.min.js' %}"></script>
<script src="{% static 'dashboard/js/calendar/fullcalendar-active.js' %}"></script> -->
  <!-- plugins JS
============================================ -->
  <script src="{% static 'dashboard/js/plugins.js' %}"></script>
  <!-- main JS
============================================ -->
  <script src="{% static 'dashboard/js/main.js' %}"></script>
  <!-- tawk chat JS
============================================ -->
  <!-- <script src="{% static 'dashboard/js/tawk-chat.js' %}"></script> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Test script -->
  <script>
    var closebtns = document.getElementsByClassName("close");
    var i;

    for (i = 0; i < closebtns.length; i++) {
      closebtns[i].addEventListener("click", function () {
        document.getElementById("myDropdown").classList.remove("show");
        document.getElementById("blog_dropdown").classList.remove("show");
        document.querySelector('.data_integration_link').classList.remove("background_color");
        document.querySelector('.dashboard_link').classList.remove("background_color");
      }, true);
    }
    function showFunction(event) {

      event.stopPropagation();
      // alert(e);
      document.querySelector('.data_integration_link').classList.toggle("background_color");
      document.querySelector('.dashboard_link').classList.remove("background_color");
      document.getElementById("logout").classList.remove("show");
      document.getElementById("blog_dropdown").classList.remove("show");
      document.getElementById("myDropdown").classList.toggle("show");
    }


    function blogDropdown(event) {

      event.stopPropagation();
      // body...
      document.querySelector('.dashboard_link').classList.toggle("background_color");
      document.querySelector('.data_integration_link').classList.remove("background_color");
      document.getElementById("logout").classList.remove("show");
      document.getElementById("myDropdown").classList.remove("show");
      document.getElementById("blog_dropdown").classList.toggle("show");

    }

    function shopDropdown(event) {

      event.stopPropagation();
      // body...
      document.getElementById("shop_dropdown").classList.toggle("show");

    }

    function callLogout() {
      event.stopPropagation();
      // body...
      document.getElementById("myDropdown").classList.remove("show");
      document.getElementById("blog_dropdown").classList.remove("show");
      document.getElementById("logout").classList.toggle("show");
    }


    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {

      document.getElementById("logout").classList.remove("show");
      document.querySelector('.data_integration_link').classList.remove("background_color");
      document.querySelector('.dashboard_link').classList.remove("background_color");
      document.getElementById("myDropdown").classList.remove("show");
      document.getElementById("blog_dropdown").classList.remove("show");
      document.getElementById("shop_dropdown").classList.remove("show");
    }

  </script>
  <!-- test script -->



  <!-- partial -->
  <!-- <script src='http://brienlabs.com/ruby-mega-menu/js/jquery-3.1.0.min.js'></script>
  <script src='http://brienlabs.com/ruby-mega-menu/js/ruby-demo.js'></script>
  <script src='http://brienlabs.com/ruby-mega-menu/js/ruby-main.js'></script> -->


  <!-- START: Reorder drag and drop script -->
  <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/47585/slip.js'></script>
  <script type="text/javascript">
    var ul = document.getElementById('sortable-list');

    // START: Reading checkbox elements and setting background to grey for default selected elements
    var inputElements = document.getElementsByClassName('checkbox_list');
    for (var i = 0; inputElements[i]; ++i) {
      if (!inputElements[i].checked) {
        $("#" + inputElements[i].id).parent().addClass("highlight");
      }
    }
    // END: Reading checkbox elements and setting background to grey for default selected elements


    // START: function to toggle background color on checkbox click
    $("input[type='checkbox']").change(function () {
      if ($(this).is(":checked")) {
        $(this).parent().removeClass("highlight");
      } else {
        $(this).parent().addClass("highlight");
      }
    });
    // END: function to toggle background color on checkbox click

    ul.addEventListener('slip:beforereorder', function (e) {
      if (/demo-no-reorder/.test(e.target.className)) {
        e.preventDefault();
      }
    }, false);

    ul.addEventListener('slip:beforeswipe', function (e) {
      if (e.target.nodeName == 'INPUT' || /no-swipe/.test(e.target.className)) {
        e.preventDefault();
      }
    }, false);

    ul.addEventListener('slip:beforewait', function (e) {
      if (e.target.className.indexOf('instant') > -1) e.preventDefault();
    }, false);

    /*ul.addEventListener('slip:afterswipe', function(e){
    e.target.parentNode.appendChild(e.target);
    }, false);*/

    ul.addEventListener('slip:reorder', function (e) {
      e.target.parentNode.insertBefore(e.target, e.detail.insertBefore);
      return false;
    }, false);

    new Slip(ul);

    // Function to to submit the query design requirements
    function applyChanges() {

      let query_elements = document.getElementById('sortable-list').children;
      var final_arranged_elements = {};
      // alert(JSON.stringify(final_arranged_elements));

      for (var i = 0; inputElements[i]; ++i) {
        if (inputElements[i].checked) {
          // console.log(inputElements[i].value);
          for (var k = 0; k < query_elements.length; k++) {
            $("#" + inputElements[i].id).parent().removeClass("highlight");
            final_arranged_elements['element' + i] = {};
            final_arranged_elements['element' + i].type = inputElements[i].value;

          }
        }
      }
      console.log(final_arranged_elements);
      $('.end_point_object').val(JSON.stringify(final_arranged_elements))
      $('#endpoint_object_form').submit();
    }
  </script>
  <!-- END: Reorder drag and drop script -->




</body>

</html>
