{% extends 'admin_dashboard.html' %}
{% load staticfiles %}
{% block body %}
<style media="screen">
  table{
    border: 2px solid lightgray;
    width: 50%;
  }
  th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    padding: 0.5rem 15px;
    border-width: 0;
    font-size: 15px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: left;
 }
  td {
   padding: 15px 15px;
   border-color: #e9ecef;
 }
  thead{
    border: 2px solid lightgray;
  }
</style>
  <body>
    <div style="margin-top: 0%;margin-left: 4%;">
        {{html|safe}}
    </div>

  </body>
{% endblock body %}
