{% extends 'admin_dashboard.html' %}
{% load staticfiles %}
{% block body %}
<style media="screen">
  .fa-bolt {
    margin-left: 3%;
    font-size: 22px;
  }
  .inputstyle_pricing{
    display:none;
}
</style>

<div style="position: relative;top: -58px;">
    <p style="text-align: center;font-size: 20px;color: grey;">Customer Dashboard</p>
    <hr style="width:100%;margin-top:-1%">
</div>

<div class="analytics-sparkle-area" style="margin-top: -5%;">
    <div class="container-fluid">
        <div class="row">
            <a href="#" style="display: block; height: 100%;">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" onclick="Pricing()" style="height:68px">

                    <div class="analytics-sparkle-line reso-mg-b-30" style="height:68px" id="customers">
                        <span class="analytics-content">
                            <h5 id="projects" style="color: grey;text-align: center;line-height:28px">Customer Search<i class="fa fa-search" style="position: absolute;top: 25px;right: 216px;"></i></h5>
                        </span>
                    </div>

            </div>
            </a>
            <a href="#" style="display: block; height: 100%;">
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="height:68px" >

                      <div class="analytics-sparkle-line reso-mg-b-30 table-mg-t-pro dk-res-t-pro-30" style="height:68px">
                          <span class="analytics-content">
                              <h5 id="projects" style="color:grey;text-align: center;line-height:28px"> </h5>

                          </span>
                      </div>

              </div>
            </a>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="height:68px" onclick="allProjectPricing()">

                    <div class="analytics-sparkle-line table-mg-t-pro dk-res-t-pro-30" style="height:68px">
                        <span class="analytics-content">
                            <h5 style="color:grey;text-align: center;line-height:28px"   ></h5>

                            <!-- <h2>$<span class="counter">3500</span> <span class="tuition-fees">Tuition Fees</span></h2>
                               <span class="text-inverse">80%</span>
                               <div class="progress m-b-0">
                                   <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:80%;"> <span class="sr-only">230% Complete</span> </div>
                               </div> -->
                        </span>
                    </div>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="height:68px">
                <!-- <a href="{% url 'adminapp:actions' %}" style="display: block; height: 100%;"> -->
                <a href="#" style="display: block; height: 100%;">
                    <div class="analytics-sparkle-line reso-mg-b-30 table-mg-t-pro dk-res-t-pro-30" style="height:68px">
                        <span class="analytics-content">
                            <h5 style="color:grey;text-align: center;line-height:28px"></h5>
                            <!-- <h2> <span class="tuition-fees">View Conversion Table</span></h2> -->
                            <!-- <span class="text-info">60%</span> -->
                            <!-- <div class="progress m-b-0">
                                   <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:60%;"> <span class="sr-only">20% Complete</span> </div>
                               </div> -->
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" onclick="" style="height:68px">
                <a href="#" style="display: block; height: 100%;">
                    <div class="analytics-sparkle-line reso-mg-b-30" style="height:68px">
                        <span class="analytics-content">
                            <h5 style="color:grey;text-align: center;line-height:28px;"></h5>
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="projectstyle_users" style=" margin:85px auto;width: 83%;margin-left: 4%;">
                <h2 style="display:none;" id="customers_search">Customer Search</h2>
                <span style="display:none;" id="total_customers">Total Customers : </span>
                <input id="customer_count"  value="" readonly style="border: none;" />
                  <input type="search" id="search_customers" class="form-control inputstyle_customers" placeholder="Search" style="margin-bottom: 4%;border: 2px solid lightgray;width:110%">
                  <div id="users_root" style="width: 110%"></div>
                  <div class="pages"></div>
              </div>

 
   <!-- <table class="table table-striped">
       <thead>
           <tr>
               <th scope="col">INVOICE ID</th>
               <th scope="col">DATE OF GENERATION</th>
               <th scope="col">FROM - TO</th>
               <th scope="col" >PROJECT</th>
               <th scope="col">DOWNLOAD INVOICE</th>
               <th scope="col">STATUS</th>

           </tr>
       </thead>
       <tbody>
           {% for invoice in project_invoice %}

           <tr scope="row">
              <td >{{invoice.invoice_id}}</td>
              <td>{{invoice.created}}</td>
              <td>{{invoice.from_date}}-{{invoice.to_date}}</td>
              <td>{{invoice.monthly_cost.project}}</td>
              <td></td>
              <td> <form method="post">
                  {%csrf_token%}
                  <select name="status" id=""><option {% if invoice.status == 'Unpaid' %} selected{%endif%} value="Unpaid">Un Paid</option>
                <option value="Paid" {% if invoice.status == 'Paid' %} selected{%endif%}>Paid</option></select><input type="submit" value="UPDATE">
              </form> </td>
           </tr>
           {%endfor%}
       </tbody>
   </table> -->

   
   <!-- <div style="margin-left: 14%;">
  <form action="{% url 'adminapp:project-invoice' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4"><label>INVOICE ID</label><input type="text" class="form-control" name="inv_id" ></div>
      <div class="col-md-4"><label>STATUS</label><select name="status" class="form-control">
        <option value="Paid">PAID</option><option value="Unpaid">UNPAID</option>
      </select> </div>
      <div class="col-md-4"><button type="submit" class="btn btn-primary" style="margin-top:8.4%;
    height: 40px;">UPDATE</button></div>
    </div>
</div> -->


  </form>
</div>



<script>

    function Pricing() {
        document.getElementById('pricing').style.display = "block";
        document.getElementById('invoice').style.display = "none";
        document.getElementById('single-project-pricing').style.display = "none";
    }
    function Invoice() {
        document.getElementById('pricing').style.display = "none";
        document.getElementById('invoice').style.display = "block";
        document.getElementById('single-project-pricing').style.display = "none";


    }
    function allProjectPricing() {
        document.getElementById('pricing').style.display = "none";
        document.getElementById('invoice').style.display = "none";
        document.getElementById('single-project-pricing').style.display = "block";




    }
    function C() {
        document.getElementById('pricing').style.display = "none";
        document.getElementById('invoice').style.display = "none";
        document.getElementById('single-project-pricing').style.display = "none";


    }
    function D() {
        document.getElementById('pricing').style.display = "none";
        document.getElementById('invoice').style.display = "none";
        document.getElementById('single-project-pricing').style.display = "none"


    }
</script>


<!-- START: Invoice table script -->
<script>

var clickHandler = function(){

   event.stopImmediatePropagation();
 $.ajax({
  url: "/administrator/all-users/",
  method: "POST",
  headers: {'X-CSRFToken': '{{ csrf_token }}'},
  success: function (data) {

  document.getElementById('projectstyle_users').style.display = "block";
  // document.getElementById('projectstyle').style.display = "none";
  $(".inputstyle_customers").show();

  var data =  data.customers_list;
  let customer_count = data.length;
  // console.log($('#customer_count').val());
  $('#total_customers').show()
  $('#customers_search').show()
  $('#customer_count').val(customer_count);
  var columns = {
    // document.getElementById('projectstyle').style.display = "block"
    'email': 'EMAIL',
    'contact_no': 'CONTACT NUMBER',
    'first_name':"FIRST NAME",
    'last_name':'LAST NAME',
    'type':"TYPE OF ACCOUNT",
    'company_name':"COMPANY NAME",
    'dog':'SIGNED UP DATE',
  }
console.log(data.length);
var UserData = {
    data: data,
    columns: columns
}

var table = $('#users_root').tableSortable({
    data: UserData.data,
    columns: UserData.columns,
    dateParsing: true,
    processHtml: function(row, key) {
        return row[key]
    },
    columnsHtml: function(value, key) {
        return value;
    },
    pagination: 5,
    showPaginationLabel: true,
    prevText: 'Prev',
    nextText: 'Next',
    searchField: $('#search_customers'),
    responsive: [
        {
            maxWidth: 992,
            minWidth: 769,
            columns: UserData.col,
            pagination: true,
            paginationLength: 3
        },
        {
            maxWidth: 768,
            minWidth: 0,
            columns: UserData.colXS,
            pagination: true,
            paginationLength: 2
        }
    ]
})

}
});
};




$('#customers').one('click', clickHandler);
</script>
<!-- END: Invoice table script -->

{%block code%}

{%endblock code%}

{%endblock body%}
